* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --boo-navbar-bg: #ff6900;
  --boo-font-icon-navbar: #ffffff;
  --boo-discount: #ff0000;
  --boo-sostenibility: #008000;
  --boo-dark-not-black: #1a1a1a;
}

.debug {
  * {
    border: 1px dashed;
  }
}

.d-flex {
  display: flex;
}

main {
  padding-top: 8rem;
  padding-bottom: 5rem;
}
/* COMMON */

/* /COMMON */

/* HEADER */
header {
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;

  background-color: var(--boo-navbar-bg);
  padding: 1rem 0.5rem;

  .logo,
  .login {
    flex-grow: 1;
  }
  .logo_boolean {
    display: flex;
    justify-content: center;
    vertical-align: center;
    flex-grow: 2;
    height: 2rem;
  }
  .action_icon {
    text-align: end;
  }
  .navbar {
    /* padding: 0.25rem;
      font-size: 10px;
      text-align: center; */
    flex-grow: 1;
  }
}
.navbar,
.logo_boolean,
.action_icon,
.site_information {
  cursor: pointer;
  a {
    color: var(--boo-font-icon-navbar);
    text-decoration: none;
    padding: 0 0.25rem;
  }
  a:hover {
    text-decoration: underline;
  }
}
.container {
  max-width: 2000px;
  min-width: 1438px;
  width: 70%;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}
/* /HEADER */

/* ITEM SECTION */

.p-absol{
  position: absolute;

}
.discount-sostenibility-box{
  bottom: 8rem;
  left: 0;
  .discount, .sostenibility{
    padding: 0.5rem 0.75rem;
    color: var(--boo-font-icon-navbar);
    
  }

.discount{
  background-color: var(--boo-discount);
}
.sostenibility{
  background: var(--boo-sostenibility);
}
}
.favorite{
  padding: 0.5rem 0.75rem;
  background-color: var(--boo-font-icon-navbar);
  right: 0;
  top: 1rem;
}
.item_box {
  position: relative;
  width: 465px;
  overflow: hidden;
}
.item_box > img {
  width:100%;
  height: 670px;
}
.item_box .hover-image{
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
}
.item_box:hover .default-image{
  opacity: 0;
}
.item_box:hover .hover-image{
  opacity: 1;
}

ul{
  list-style-type: none;
  .marca{
    font-size: 1rem;
  }
  .model{
    font-size: 1.25rem;
  }
  .price{
    font-size: 1rem;;
    color: var(--boo-discount);
    font-weight: bold;
  }
  .discount-price{
    font-size: 1rem;
    text-decoration: line-through;
  }
}

/* / ----ITEM SECTION */

/* FOOTER */
footer {
  flex-direction: column;
  vertical-align: center;
  height: 114px;
  background-color: var(--boo-dark-not-black);
  .nome_impresa,
  .site_info_social {
    justify-content: space-between;
    padding: 0;
    h3,
    h4 {
      color: var(--boo-font-icon-navbar);
    }
    h4 {
      padding-right: 1rem;
    }
  }
}
/* /FOOTER */
